body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#actions {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
}
.color-board {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  margin-top: 5px;
}
span {
  margin-left: 5px;
}
.pallete {
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.pallete > .board {
  margin: 10px;
}
